body{
    background-color: #006400;
}

.header{
    border: solid black 3px;
    background-color: #20603d;
}

#logo{
    margin: auto;
    height: 70px;
    width: 320px;
    text-align: center;
}

#logo h1{
    font-family: "Pacifico", cursive;
    font-size: 45px;
}

Nav{
    height: 60px;
    background-color: #287233;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: cursive;
    text-align: center;
}

nav ul{
    list-style: none;
    display: inline-block;
}

nav ul li{
    float: left;
}

nav ul li a{
    color: aliceblue;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    padding: 18px;
}