.Body_index{
    background-color: #006400;
    background-image: url(/Imagenes/Futbol.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    background-image: url(/Imagenes/Header_definitivo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header nav div{
    border-radius: 20px;
    border: black;
    background-color: #c1ff72;
}

header nav div a{
    background-color: #c1ff72;
}

#logo{
    height: 100px;
    width: 500px;
    text-align: left;
}

#logo h1{
    font-family: "Pacifico", cursive;
    font-size: 45px;
}

#logo img{
    width: 250px;
    height: 156px;
}


Nav{
    background-size: cover;
    background-image: inherit;
}

.Seccion_index{
    display: flex;
    flex-direction:column;
}

.Proximos_partidos{
    max-width: 100%;
    width: auto;
    height: auto;
    text-align: center;
    color: aliceblue;
}

.Proximos_partidos p{
    text-align: center;
}

.Partidos{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
}

.Partidos tr{
    border: 2px solid black;
}

.Partidos td{
    color: aliceblue;
    border: 2px solid black;
    border-radius: 10px;
    text-align:center;
    background-color: rgb(38, 37, 37);
    padding-right: 25vh;
    padding-left: 10vh;
}

.Fixture_index{
    margin-top: 30px;
    margin-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 1vh;
    padding-right: 5.5vh;
    text-align: center;
    color: aliceblue;
    font-size: 20px;
}

h3{
    padding-top: 40px;
}

.botonParticipa{
    width: 100%;
}
